@import './colors';
@import './launcher';

// Bar components
@import './workspaces';
@import './music';
@import './battery';

$fg: $white1;
$bg: transparent;

$neon: 0 0 0.5px $fg, 0 0 1px $fg, 0 0 2px $fg;

.bar {
	background: transparentize($black1, 0.9);
    border-radius: 6px;
    font-size: 12px;
    button {
        transition: all 0.24s cubic-bezier(.42, 0, 1, 1);
        &:hover {
			background: transparentize(mix($black1, $black2, 50%), 0.5);
		}
    }
}

.icon {
	color: $fg;
	background: transparentize($black1, 0.9);
	font-weight: bold;
	border-radius: 6px;
    text-shadow: $neon;
    box-shadow: 0 2px 2.4px rgba(0, 0, 0, 0.5);
    margin: 6px 6px 3px 6px;
    padding: 6px;
}

.clock {
	color: $fg;
	background: transparentize($black1, 0.9);
	font-weight: bold;
	border-radius: 6px;
    box-shadow: 0 2px 2.4px rgba(0, 0, 0, 0.5);
    margin: 6px;
    padding: 6px;
}
