// Colors
@import './colors';

// Components
@import './workspaces';
@import './volume';
@import './desktop';
@import './dock';
@import './todo';

.bar {
    background: transparent;
}

.barLeft {
    color: $fg;
    background: $bg;
    font-size: 12px;
    border-radius: 12px;
    padding: 0 0.5rem;
}

.barRight {
    color: $fg;
    background: $bg;
    font-size: 12px;
    font-weight: bold;
    border-radius: 12px;
    //padding: 0 0.5rem;
}

.separator {
    font-size: 1rem;
    font-weight: bold;
    margin: 0 0.25rem 2px;
}

.clientTitle {
    margin: 0 2px 1px;
}

.battery {
    background: $bg;
    margin: 0;
    padding: 0 0.5rem 0 0.25rem;
}

.batIcon {
    margin: 0;
}

.batLabel {}

.clock {
    background: $bg;
    border-radius: 3px 12px 12px 3px;
    margin: 0 0 0 0.5rem;
    padding: 0 0.75rem 0 0;
}

.clockIcon {
    margin: 0 0.5rem 0 0.5rem;
}

.tray {}

.trayIcon {}
