@import './colors';

$fg: $white1;
$bg: $black;

$neon: 0 0 2px $fg, 0 0 4px $fg, 0 0 8px $fg;

.battery {
    color: $black2;
    background: transparentize($black1, 0.9);
    border-radius: 6px;
    box-shadow: 0 2px 2.4px rgba(0, 0, 0, 0.5);
    margin: 6px 6px 3px 6px;
    padding: 2px;
    min-width: 24px;
}

.batLabel {
    color: $fg;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: $neon;
}

.batBar {
    margin: 2px;
	trough {
		progress {
            border-radius: 6px;
            min-width: 20px;
		}
		border-radius: 6px;
        min-width: 20px;
	}
}

.batBar.low {
	trough {
		progress {
            background: $red;
        }
        background: transparentize($red, 0.5);
	}
}

.batBar.med {
	trough {
		progress {
            background: $yellow;
        }
        background: transparentize($yellow, 0.5);
	}
}

.batBar.high {
	trough {
		progress {
            background: $green;
        }
        background: transparentize($green, 0.5);
	}
}
