.brightnessPopup {
    background: transparent;
    padding: 3px 0;
}

.brtPopupIcon {
    font-family: SymbolsNerdFontMono;
    font-size: 12px;
    padding: 6px;
}

.brtPopupBar {
    min-height: 100px;
    min-width: 1rem;
    margin: 0.5rem;
}

.brtPopupBar scale {
    min-width: 1rem;
}

.brtPopupBar trough {
    background: $bg;
    border-radius: 1rem;
    min-width: 0.5rem;
}

.brtPopupBar highlight {
    background: $fg;
    border-radius: 1rem;
    min-height: 1rem;
    margin: -0.5rem;
    padding: 6px;
}
