$white: #ffffff;
$white1: #ebefff;
$white2: #c8c8db;
$gray: #74778c;
$gray2: #606375;
$gray3: #535560;
$gray4: #42444b;
$black: #272d3c;
$black1: #2d384a;
$black2: #38475e;

$red: #FF6392;
$orange: #E4AE62;
$yellow: #FFE45E;
$green: #7fdb9c;
$cyan: #68b6a7;
$blue: #5AA9E6;
$purple: #c792ea;
