$lightmode: false; 
$primary: #b8c3ff;
$onPrimary: #142778;
$primaryContainer: #2f4090;
$onPrimaryContainer: #dde1ff;
$secondary: #c3c5dd;
$onSecondary: #2c2f41;
$secondaryContainer: #43465a;
$onSecondaryContainer: #dfe1f9;
$tertiary: #e5bad8;
$onTertiary: #44273e;
$tertiaryContainer: #5d3c55;
$onTertiaryContainer: #ffd6f4;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$background: #1b1b1f;
$onBackground: #e4e1e6;
$surface: #1b1b1f;
$onSurface: #e4e1e6;
$surfaceVariant: #45464f;
$onSurfaceVariant: #c6c5d0;
$outline: #90909a;
$shadow: #000000;
$inverseSurface: #e4e1e6;
$inverseOnSurface: #303034;
$inversePrimary: #4858a9;
