.launcher {
    color: $fg;
    background: $bg1;
    padding: 6px;
}

.launcherEntry {
    caret-color: $fg;
    background: $bg;
    border-radius: 12px;
    padding: 3px 12px;
    margin: 6px;
}

.launcherItem {
    margin: 3px;
    &:focus {
        background: $bg;
    }
}

.launcherItemIcon {
    margin: 3px;
}

.launcherItemTitle {
    font-size: 16px;
    font-weight: bold;
}

.launcherItemDescription {
    font-size: 12px;
}

