.music {
    background: $bg;
    border-radius: 12px;
    margin: 0 0.5rem 0 0;
    padding: 0 0.5rem //0 0.75rem;
    min-width: 1rem;
}

.songProgress {
    background-color: transparentize($fg, 0.5);
    font-size: 2px;
    min-width: 1.5rem;
    min-height: 1.5rem;
}

.songTitle {
    font-size: 12px;
    font-weight: normal;
    padding: 0 0.5rem;
}
