.volumePopup {
    background: transparent;
}

.volPopupIcon {
    font-family: SymbolsNerdFontMono;
    font-size: 12px;
    padding: 6px;
}

.volPopupBar {
    min-height: 100px;
    min-width: 1rem;
    margin: 0.5rem;
}

.volPopupBar scale {
    min-width: 1rem;
}

.volPopupBar trough {
    background: $bg;
    border-radius: 1rem;
    min-width: 0.5rem;
}

.volPopupBar highlight {
    background: $fg;
    border-radius: 1rem;
    min-height: 1rem;
    margin: -0.5rem;
    padding: 6px;
}
