@import './colors';
@import './animations';

$fg: $white1;
$bg: $black;

$neon: 0 0 2px $fg, 0 0 4px $fg, 0 0 8px $fg;

.workspaces {
	color: $fg;
	background: transparentize($black1, 0.9);
    font-weight: bold;
	border-radius: 6px;
    box-shadow: 0 2px 2.4px rgba(0, 0, 0, 0.5);
	margin: 3px 6px 6px 6px;
	padding: 2px;
    transition: all 2s;
    min-height: 100px;
	button {
		background: transparentize(mix($black, $black1, 50%), 0.7);
		border-radius: 6px;
        box-shadow: 0 2px 2.4px rgba(0, 0, 0, 0.25);
		margin: 0 2px 2px;
		transition: all 0.24s cubic-bezier(.42, 0, 1, 1);
		&:hover {
			background: transparentize(mix($black1, $black2, 50%), 0.5);
		}
	}
	button.focused {
		background: transparentize($black2, 0.3);
        font-weight: bolder;
		border-radius: 6px;
        @include keyframes(flicker) {
            0% { text-shadow: $neon; }
            18% { text-shadow: $neon; }
            22% { text-shadow: $neon; }
            25% { text-shadow: $neon; }
            53% { text-shadow: $neon; }
            57% { text-shadow: $neon; }
            100% { text-shadow: $neon; }
            20% { text-shadow: none; }
            24% { text-shadow: none; }
            55% { text-shadow: none; }
        }
        @include animate(flicker, 1.5s, infinite, alternate);
	}
}
