.workspaces {
    background: $bg;
    border-radius: 24px;
    min-width: 8px;
    padding: 6px;
    button {
        background: $bg;
        border: 2px solid mix($bg, $fg, 75%);
        border-radius: 24px;
        min-height: 6px;
        min-width: 6px;
        margin: 0 2px;
        transition:
            all 0.2s cubic-bezier(0, 0, 1, 1),
            border 0.25s cubic-bezier(0, 0, 1, 1);
        &:hover {
            background: mix($bg, $fg, 50%);
            border: 2px solid mix($bg, $fg, 50%);
        }
        &.focused {
            background: $fg;
            border: 2px solid $fg;
            min-width: 18px;
        }
    }
}
