*:not(tooltip):not(menubar):not(menu):not(menuitem) {
  all: unset; }

.workspaces {
  background: #f2f2f2;
  border-radius: 24px;
  min-width: 8px;
  padding: 6px; }
  .workspaces button {
    background: #f2f2f2;
    border: 2px solid gainsboro;
    border-radius: 24px;
    min-height: 6px;
    min-width: 6px;
    margin: 0 2px;
    transition: all 0.2s cubic-bezier(0, 0, 1, 1), border 0.25s cubic-bezier(0, 0, 1, 1); }
    .workspaces button:hover {
      background: #c6c6c6;
      border: 2px solid #c6c6c6; }
    .workspaces button.focused {
      background: #999999;
      border: 2px solid #999999;
      min-width: 18px; }

.volume {
  background: #f2f2f2;
  padding: 0 0 0 6px; }

.volIcon {
  font-family: SymbolsNerdFontMono;
  font-size: 13px; }

.volBar {
  min-width: 50px;
  padding: 0 0 0 3px; }

.volBar trough highlight {
  background: #999999;
  min-height: 0.25rem; }

.volBar trough {
  background: none;
  border: 2px solid #999999;
  border-radius: 1rem; }

.battery {
  background: #f2f2f2;
  border-radius: 0 24px 24px 0;
  padding: 0 6px 1px 3px; }

.batIcon {
  font-family: SymbolsNerdFontMono;
  font-size: 12px; }

.batLabel {
  font-weight: 500; }

.bar {
  color: #999999;
  background: transparent;
  font-family: Roboto;
  font-size: 13px; }

.clockIcon {
  font-family: SymbolsNerdFontMono;
  font-size: 12px; }

.dateLabel {
  background: #f2f2f2;
  font-weight: 500;
  border-radius: 24px 3px 3px 24px;
  padding: 0 6px 0 12px;
  margin: 0 3px; }

.timeLabel {
  background: #f2f2f2;
  font-weight: 500;
  border-radius: 3px;
  padding: 0 6px;
  margin: 0 3px; }

.wifiIcon {
  background: #f2f2f2;
  font-family: SymbolsNerdFontMono;
  font-size: 12px;
  border-radius: 3px 0 0 3px;
  padding: 0 0 0 8px;
  margin: 0 0 0 3px; }

.desktopMenu {
  color: #999999;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 12px;
  padding: 6px; }

.desktopMenuItem {
  color: #999999;
  border-radius: 12px;
  padding: 3px 6px; }
  .desktopMenuItem:hover {
    background: #f2f2f2; }

.dock {
  background: #f2f2f2;
  border-radius: 12px; }

.dockIcon {
  margin: 3px 1px; }

.dockIcons {
  margin: 6px; }

tooltip {
  color: #f2f2f2; }

.launcher {
  color: #999999;
  background: #ffffff;
  padding: 6px; }

.launcherApp {
  border-radius: 12px;
  padding: 3px;
  margin: 3px; }
  .launcherApp:focus {
    background: #f2f2f2; }

.launcherEntry {
  caret-color: #999999;
  background: #f2f2f2;
  border-radius: 12px;
  padding: 3px 12px;
  margin: 6px; }

.launcherItemIcon {
  margin: 3px 6px; }

.launcherItemTitle {
  font-size: 16px;
  font-weight: bold; }

.launcherItemDescription {
  font-size: 12px; }

.brightnessPopup {
  background: transparent;
  padding: 3px 0; }

.brtPopupIcon {
  font-family: SymbolsNerdFontMono;
  font-size: 12px;
  padding: 6px; }

.brtPopupBar {
  min-height: 100px;
  min-width: 1rem;
  margin: 0.5rem; }

.brtPopupBar scale {
  min-width: 1rem; }

.brtPopupBar trough {
  background: #f2f2f2;
  border-radius: 1rem;
  min-width: 0.5rem; }

.brtPopupBar highlight {
  background: #999999;
  border-radius: 1rem;
  min-height: 1rem;
  margin: -0.5rem;
  padding: 6px; }

.volumePopup {
  background: transparent;
  padding: 3px 0; }

.volPopupIcon {
  font-family: SymbolsNerdFontMono;
  font-size: 13px;
  padding: 6px; }

.volPopupBar {
  min-height: 100px;
  min-width: 1rem;
  margin: 0.5rem; }

.volPopupBar scale {
  min-width: 1rem; }

.volPopupBar trough {
  background: #f2f2f2;
  border-radius: 1rem;
  min-width: 0.5rem; }

.volPopupBar highlight {
  background: #999999;
  border-radius: 1rem;
  min-height: 1rem;
  margin: -0.5rem;
  padding: 6px; }
