*:not(tooltip) {
  all: unset; }

.icon {
  color: #c6c5d0;
  background: #45464f;
  font-family: SymbolsNerdFontMono;
  border-radius: 24px;
  margin: 6px;
  padding: 6px;
  transition: all 0.2s cubic-bezier(0.3, 0, 1, 1); }
  .icon:hover {
    color: #b8c3ff;
    background: #45464f; }

.workspaces {
  background: #45464f;
  border-radius: 24px;
  margin: 6px 0;
  padding: 3px; }
  .workspaces button {
    background: rgba(198, 197, 208, 0.25);
    border-radius: 24px;
    margin: 3px;
    min-height: 1rem;
    min-width: 1rem;
    transition: all 0.3s cubic-bezier(0.2, 0, 0, 1), border 0.35s cubic-bezier(0.2, 0, 0, 1); }
    .workspaces button:hover {
      background: rgba(184, 195, 255, 0.5);
      min-width: 1.5rem; }
    .workspaces button.focused {
      background: #b8c3ff;
      min-width: 2rem; }

.tray {
  margin: 0; }

.trayChevron {
  font-family: SymbolsNerdFontMono; }

.trayIcons {
  margin: 0 0 0 6px; }

.trayIcon {
  margin: 0 0.025rem; }

.battery {
  margin: 0; }

.clock {
  color: #c6c5d0;
  font-family: Roboto;
  font-weight: 500;
  margin: 6px 0; }

.timeLabel {
  background: #45464f;
  border-radius: 24px;
  padding: 3px 12px; }

.pfp {
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin: 6px;
  padding: 6px;
  min-height: 1rem;
  min-width: 1rem; }

.bar {
  color: #e4e1e6;
  background: #1b1b1f;
  font-family: Roboto; }

.systemInfo {
  color: #c6c5d0;
  background: #45464f;
  font-family: SymbolsNerdFontMono;
  border-radius: 24px;
  margin: 6px;
  padding: 3px 12px; }

.wifiIcon {
  margin: 0 3px; }
  .wifiIcon.off {
    color: rgba(198, 197, 208, 0.25); }

.bluetoothIcon.off {
  color: rgba(198, 197, 208, 0.5); }

.launcher {
  color: #e4e1e6;
  background: #1b1b1f;
  font-family: Roboto;
  border-radius: 24px;
  padding: 6px; }

.launcherApp {
  border-radius: 24px;
  margin: 6px;
  padding: 6px 12px; }
  .launcherApp:focus {
    color: #c6c5d0;
    background: #45464f; }

.launcherEntry {
  color: #c6c5d0;
  caret-color: #c6c5d0;
  background: #45464f;
  border-radius: 24px;
  margin: 6px;
  padding: 6px 12px; }

.launcherItemIcon {
  margin: 0 6px 0 0; }

.launcherItemTitle {
  font-size: 1rem;
  font-weight: 500; }

.launcherItemDescription {
  font-size: 1rem; }

.desktopMenu {
  color: #e4e1e6;
  background: rgba(27, 27, 31, 0.1);
  font-family: Roboto;
  border: solid #90909a;
  border-width: 1px 0;
  border-radius: 24px;
  padding: 6px; }

.desktopMenuItem {
  border-radius: 24px;
  margin: 0 3px;
  padding: 6px 12px;
  transition: all 200ms cubic-bezier(0, 0, 1, 1); }
  .desktopMenuItem:hover {
    color: #c6c5d0;
    background: rgba(69, 70, 79, 0.55); }

.desktopMenuItemIcon {
  font-family: SymbolsNerdFontMono;
  padding: 0 6px 0 0; }

.desktopMenuItemSubmenuArrow {
  color: rgba(228, 225, 230, 0.55);
  font-family: Roboto;
  padding: 0 0 0 6px; }

.separator {
  background: #45464f; }

.desktopIcons {
  margin: 24px 0 0 24px; }

.desktopIcon {
  border-radius: 12px;
  padding: 6px;
  transition: all 200ms cubic-bezier(0, 0, 1, 1); }
  .desktopIcon:hover {
    background: rgba(184, 195, 255, 0.5); }

.desktopIconLabel {
  color: #e4e1e6;
  font-family: 'SourceHanSansJP'; }

.corner {
  background: #1b1b1f;
  border-radius: 24px; }

.brightnessPopup {
  color: #e4e1e6;
  background: #1b1b1f;
  border-radius: 24px;
  margin: 6px;
  padding: 12px; }

.brtPopupIcon {
  font-family: SymbolsNerdFontMono;
  margin: 0 6px 0 0; }

.brtPopupBar {
  min-width: 120px; }
  .brtPopupBar scale {
    min-height: 12px; }
  .brtPopupBar trough {
    background: rgba(69, 70, 79, 0.5);
    border-radius: 24px;
    min-height: 12px; }
  .brtPopupBar highlight {
    background: #b8c3ff;
    border-radius: 24px;
    min-width: 12px; }

.volumePopup {
  color: #e4e1e6;
  background: #1b1b1f;
  border-radius: 24px;
  margin: 6px;
  padding: 12px; }

.volPopupIcon {
  font-family: SymbolsNerdFontMono;
  margin: 0 6px 0 0; }

.volPopupBar {
  min-width: 120px; }
  .volPopupBar scale {
    min-height: 12px; }
  .volPopupBar trough {
    background: rgba(69, 70, 79, 0.5);
    border-radius: 24px;
    min-height: 12px; }
  .volPopupBar highlight {
    background: #b8c3ff;
    border-radius: 24px;
    min-width: 12px; }

.notification {
  color: #e4e1e6;
  background: rgba(27, 27, 31, 0.1);
  border: solid #90909a;
  border-width: 1px 0;
  border-radius: 24px; }
  .notification > * {
    margin: 6px;
    padding: 12px;
    min-width: 240px; }
  .notification.critical {
    background: rgba(255, 180, 169, 0.1);
    border: solid #680003;
    border-width: 1px 0;
    border-radius: 24px; }

.notificationIcon {
  margin: 12px 12px 12px 0; }

.notificationTitle {
  font-weight: 500; }

.notificationBody {
  color: #a59bac; }

.action-button {
  margin: 0; }

.action-button:first-child {
  margin: 0; }

.action-button:last-child {
  margin: 0; }

.action-button:last-child:first-child {
  margin: 0; }

.controls {
  color: #c6c5d0;
  background: #45464f;
  border-radius: 24px;
  margin: 12px 6px; }

.controlsPrev {
  font-family: SymbolsNerdFontMono;
  font-size: 0.75rem;
  padding: 0 12px; }
  .controlsPrev:hover {
    background: #828392;
    border-radius: 24px; }

.controlsPlayPause {
  font-family: SymbolsNerdFontMono;
  font-size: 0.75rem;
  padding: 0 12px; }
  .controlsPlayPause:hover {
    background: #828392;
    border-radius: 24px; }

.controlsNext {
  font-family: SymbolsNerdFontMono;
  font-size: 0.75rem;
  padding: 0 12px; }
  .controlsNext:hover {
    background: #828392;
    border-radius: 24px; }

.music {
  color: #e4e1e6;
  background: #1b1b1f;
  font-family: Roboto;
  border-radius: 6px;
  padding: 12px;
  min-width: 240px; }

.artist {
  font-weight: 500;
  font-size: 0.75rem;
  padding: 0 6px; }

.cover {
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-radius: 6px;
  min-height: 60px;
  min-width: 60px; }

.title {
  font-weight: 500;
  padding: 0 6px; }

.terminal {
  background: #1b1b1f;
  border: 2px solid #45464f;
  border-radius: 24px;
  padding: 12px; }
