*:not(selection):not(tooltip) {
  all: unset; }

.workspaces {
  margin: 3px 0; }
  .workspaces button {
    margin: 0 3px;
    min-width: 1rem;
    min-height: 1rem;
    border-radius: 24px;
    background: #575e63;
    transition: all 0.3s cubic-bezier(0.2, 0, 0, 1); }
    .workspaces button:hover {
      min-width: 1.5rem;
      background: #949ca1; }
    .workspaces button.focused {
      min-width: 2rem;
      background: #D5D8DA; }

.clock {
  color: #D5D8DA; }

.timeLabel {
  font-weight: 500; }

.dateLabel {
  margin-right: 6px; }

.systemInfo {
  font-family: SymbolsNerdFontMono;
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  /*&:hover {
    padding: 0 6px;
    border-radius: 6px;
    background: transparentize($bg, 0.5);
  }*/ }

.barWifiIcon {
  color: #D5D8DA; }
  .barWifiIcon.off {
    color: #747d84; }

.barBluetoothIcon {
  color: #D5D8DA;
  margin-left: 3px; }
  .barBluetoothIcon.off {
    color: #747d84; }

.tray {
  margin-right: 6px; }
  .trayIcon {
    margin: 0 1px; }
  .trayIcons {
    margin-left: 6px; }
  .trayChevron {
    font-family: SymbolsNerdFontMono;
    font-weight: 500; }

.bar {
  font-family: Roboto; }

.userInfo {
  color: #D5D8DA;
  font-weight: 500;
  margin-bottom: 6px;
  padding: 6px;
  border-radius: 6px;
  background: #1C1E26; }

.pfp {
  padding: 6px;
  min-width: 1rem;
  min-height: 1rem;
  border-radius: 24px;
  background-size: 100% auto;
  background-repeat: no-repeat; }

.username {
  margin-left: 6px; }

.hostname {
  color: #babfc2;
  font-size: 0.75rem;
  font-weight: normal;
  margin-left: 6px; }

.powerMenu {
  font-family: SymbolsNerdFontMono;
  padding: 6px;
  min-width: 1rem;
  min-height: 1rem;
  border-radius: 24px;
  background: #232530; }

.power {
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1); }
  .power:hover {
    color: #E95678; }

.reboot {
  margin: 0 3px;
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1); }
  .reboot:hover {
    color: #FAB795; }

.suspend {
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1); }
  .suspend:hover {
    color: #EE64AC; }

.lock {
  margin: 0 3px;
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1); }
  .lock:hover {
    color: #29D398; }

.exit {
  margin-left: 3px;
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1); }
  .exit:hover {
    color: #26BBD9; }

.volumeSlider {
  margin-top: 6px;
  padding: 12px;
  border-radius: 6px;
  background: #1C1E26; }

.volLabel {
  margin-bottom: 6px; }

.volIcon {
  font-family: SymbolsNerdFontMono;
  margin-right: 6px; }

.volSlider {
  min-width: 180px; }
  .volSlider slider {
    min-height: 1rem;
    min-width: 1rem;
    border-radius: 24px;
    background: #5acbe2;
    transition: all 0.3s cubic-bezier(0.2, 0, 0, 1); }
    .volSlider slider:hover {
      background: #8edceb; }
  .volSlider trough {
    padding: 0 0.5rem;
    min-height: 1rem;
    border-radius: 24px;
    background: rgba(38, 187, 217, 0.5); }
  .volSlider highlight {
    margin: 0 -0.5rem;
    min-width: 1rem;
    border-radius: 24px;
    background: #26BBD9; }

.brightnessSlider {
  margin-top: 6px;
  padding: 12px;
  border-radius: 6px;
  background: #1C1E26; }

.brtLabel {
  margin-bottom: 6px; }

.brtIcon {
  font-family: SymbolsNerdFontMono;
  margin-right: 6px; }

.brtSlider {
  min-width: 180px; }
  .brtSlider slider {
    min-height: 1rem;
    min-width: 1rem;
    border-radius: 24px;
    background: #fddfcf;
    transition: all 0.3s cubic-bezier(0.2, 0, 0, 1); }
    .brtSlider slider:hover {
      background: white; }
  .brtSlider trough {
    padding: 0 0.5rem;
    min-height: 1rem;
    border-radius: 24px;
    background: rgba(250, 183, 149, 0.5); }
  .brtSlider highlight {
    margin: 0 -0.5rem;
    min-width: 1rem;
    border-radius: 24px;
    background: #FAB795; }

.music {
  color: #D5D8DA;
  margin-top: 6px;
  padding: 6px;
  border: 3px solid #232530;
  border-radius: 6px;
  background: #1C1E26; }

.cover {
  min-height: 48px;
  min-width: 48px;
  border-radius: 6px;
  background: #232530;
  background-size: 100% auto;
  background-repeat: no-repeat; }

.title {
  font-weight: 500;
  margin-left: 6px; }

.artist {
  font-size: 0.75rem;
  margin-left: 6px; }

.controls {
  font-family: SymbolsNerdFontMono;
  font-size: 1rem; }
  .controlsPrev {
    margin: 0 6px; }
  .controlsPlayPause {
    margin: 0 6px; }
  .controlsNext {
    margin: 0 6px; }

.controlPanel {
  font-family: Roboto;
  padding: 12px;
  border-radius: 6px;
  background: #232530; }

.pullDown {
  padding: 0 6px;
  min-height: 6px;
  min-width: 1rem;
  border-radius: 0 0 6px 6px;
  background: #282a37;
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1); }
  .pullDown:hover {
    min-height: 12px; }

.uwuifier {
  color: #D5D8DA;
  padding: 6px;
  margin-top: 6px;
  border-radius: 6px;
  background: #232530; }
  .uwuifierEntry {
    padding: 6px;
    padding-right: 2rem;
    border-radius: 6px;
    background: #1C1E26; }
  .uwuifierCopyButton {
    font-family: SymbolsNerdFontMono;
    padding: 6px;
    margin: 0;
    border-radius: 6px;
    background: #282a37;
    transition: all 0.3s cubic-bezier(0.2, 0, 0, 1); }
    .uwuifierCopyButton:hover {
      background: #2d303e; }

.screwsPanel {
  margin-top: 6px;
  border-radius: 6px;
  background: #1C1E26; }

.wifi {
  margin-right: 6px;
  padding: 12px;
  border-radius: 6px;
  background: #26BBD9; }
  .wifi.off {
    color: rgba(213, 216, 218, 0.5);
    background: #1C1E26; }

.wifiIcon {
  font-family: SymbolsNerdFontMono;
  font-size: 1rem;
  margin-right: 6px; }

.wifiLabel {
  margin-right: 6px; }

.networkLabel {
  color: #D5D8DA;
  font-size: 0.75rem;
  margin-right: 6px; }

.bluetooth {
  margin: 6px 6px 0 0;
  padding: 12px;
  border-radius: 6px;
  background: #26BBD9; }
  .bluetooth.off {
    color: rgba(213, 216, 218, 0.5);
    background: #1C1E26; }

.bluetoothIcon {
  font-family: SymbolsNerdFontMono;
  font-size: 1rem;
  margin-right: 6px; }
  .bluetoothIcon.off {
    color: rgba(213, 216, 218, 0.5);
    background: rgba(38, 187, 217, 0.5); }

.bluetoothLabel {
  margin-right: 6px; }

@keyframes lowBlinkFg {
  0% {
    color: #E95678; }
  50% {
    color: #D5D8DA; }
  100% {
    color: #E95678; } }

@keyframes lowBlink {
  0% {
    color: #E95678;
    background: rgba(233, 86, 120, 0.5); }
  50% {
    color: #D5D8DA;
    background: rgba(213, 216, 218, 0.5); }
  100% {
    color: #E95678;
    background: rgba(233, 86, 120, 0.5); } }

.battery {
  padding: 12px;
  border-radius: 6px;
  background: #1C1E26; }

.batIcon {
  color: #29D398;
  font-family: SymbolsNerdFontMono;
  font-size: 1.5rem;
  padding: 1.5rem; }
  .batIcon.low {
    animation: lowBlinkFg 1s infinite; }

.batPercentBar {
  color: #29D398;
  font-size: 0.75rem;
  background: rgba(41, 211, 152, 0.5); }
  .batPercentBar.low {
    animation: lowBlink 1s infinite; }

.launcher {
  font-family: Roboto;
  background: #232530; }

.launcherEntry {
  background: #1C1E26; }

.launcherApp:focus {
  background: #1C1E26; }

.brightnessPopup {
  color: #D5D8DA;
  margin: 0 6px 0 0;
  padding: 3px;
  border-radius: 24px;
  background: #232530; }

.brtPopupIcon {
  font-family: SymbolsNerdFontMono;
  margin: 3px 0 3px 0; }

.brtPopupBar {
  margin: 3px 0;
  min-height: 120px; }
  .brtPopupBar trough {
    min-width: 0.5rem;
    border-radius: 24px;
    background: rgba(250, 183, 149, 0.5); }
  .brtPopupBar highlight {
    min-height: 0.5rem;
    border-radius: 24px;
    background: #FAB795; }

.volumePopup {
  color: #D5D8DA;
  margin: 0 6px 0 0;
  padding: 3px;
  border-radius: 24px;
  background: #232530; }

.volPopupIcon {
  font-family: SymbolsNerdFontMono;
  margin: 3px 0 3px 0; }

.volPopupBar {
  margin: 3px 0;
  min-height: 120px; }
  .volPopupBar trough {
    min-width: 0.5rem;
    border-radius: 24px;
    background: rgba(38, 187, 217, 0.5); }
  .volPopupBar highlight {
    min-height: 0.5rem;
    border-radius: 24px;
    background: #26BBD9; }

.terminal {
  padding: 12px;
  border-radius: 0 0 6px 6px;
  background: rgba(0, 0, 0, 0.1); }
