// Components
@import 'icon';
@import 'workspaces';
@import 'tray';
@import 'battery';
@import 'clock';

.bar {
    color: $onSurface;
    background: transparentize($surface, 0.9);
    font-family: $font;
    border: solid $outline;
    border-width: 1px 0;
    border-radius: 24px;
}

.systemInfo {
    color: $onSurfaceVariant;
    background: transparentize($surfaceVariant, 0.45);
    font-family: $iconFont;
    border-radius: 24px 6px 6px 24px;
    margin: 6px;
    padding: 3px 12px;
}

.wifiIcon {
    margin: 0 3px;
}
