// Components
@import 'icon';
@import 'workspaces';
@import 'tray';
@import 'battery';
@import 'clock';
@import 'pfp';

.bar {
    color: $onSurface;
    background: $surface;
    font-family: $font;
}

.systemInfo {
    color: $onSurfaceVariant;
    background: $surfaceVariant;
    font-family: $iconFont;
    border-radius: 24px;
    margin: 6px;
    padding: 3px 12px;
}

.wifiIcon {
    margin: 0 3px;
    &.off {
        color: transparentize($onSurfaceVariant, 0.75);
    }
}

.bluetoothIcon {
    &.off {
        color: transparentize($onSurfaceVariant, 0.50);
    }
}
