.battery {
    background: $bg;
    border-radius: 0 24px 24px 0;
    padding: 0 6px 1px 3px;
}

.batIcon {
    font-family: SymbolsNerdFontMono;
    font-size: 12px;
}

.batLabel {
    font-weight: 500;
}
