.clock {
    color: $onSurfaceVariant;
    font-family: $font;
    font-weight: 500;
    margin: 6px 0;
}

.timeLabel {
    background: $surfaceVariant;
    border-radius: 24px;
    padding: 3px 12px;
}
