.icon {
    color: $onSurfaceVariant;
    background: $surfaceVariant;
    font-family: $iconFont;
    border-radius: 24px;
    margin: 6px;
    padding: 6px;
    transition: all 0.2s $materialAccel;
    &:hover {
        color: $primary;
        background: $surfaceVariant;
    }
}
