.volume {
    background: $bg;
    padding: 0 0 0 6px;
}

.volIcon {
    font-family: SymbolsNerdFontMono;
    font-size: 13px;
}

.volBar {
    min-width: 50px;
    padding: 0 0 0 3px;
}

.volBar trough highlight {
    background: $fg;
    min-height: 0.25rem;
}

.volBar trough {
    background: none;
    border: 2px solid $fg;
    border-radius: 1rem;
}
