.workspaces {
    background: transparentize($surfaceVariant, 0.45);
    border-radius: 24px;
    margin: 6px;
    padding: 3px;
    button {
        background: transparentize($onSurfaceVariant, 0.45);
        border-radius: 24px;
        margin: 3px;
        min-height: 1rem;
        min-width: 1rem;
        transition:
            all 0.3s $materialStandard,
            border 0.35s $materialStandard;
        &:hover {
            background: linear-gradient(to right, transparentize($primary, 0.45), transparentize($tertiary, 0.45));
            min-width: 1.5rem;
        }
        &.focused {
            background: linear-gradient(to right, $primary, $tertiary);
            box-shadow: 0 0 4px $primary;
            min-width: 2rem;
        }
    }
}

