$white: #ffffff;
$white1: #ebebeb;
$white2: #d6d6d6;
$white3: #c2c2c2;
$gray: #adadad;
$gray1: #999999;
$gray2: #858585;
$gray3: #707070;
$black: #5c5c5c;
$black1: #474747;
$black2: #333333;
$black3: #1f1f1f;
