* { all: unset; }

#XfceNotifyWindow {
	color: #999999;
	background: #f2f2f2;
	border-radius: 12px;
	padding: 6px;
	button {
		color: #999999;
		background: mix(#f2f2f2, #999999, 75%);
		border: none;
		border-radius: 12px;
        margin: 2px;
        padding: 2px;
		&:hover {
			color: #999999;
			background: mix(#f2f2f2, #999999, 50%);
			border: none;
			border-radius: 12px;
		}
	}
	label#summary {
		font-weight: Bold;
	}
}
