@import './colors';

*:not(#scroll) { all: unset; }

#input {
	color: #999999;
	background: #FFFFFF;
    border: none;
	border-radius: 24px;
	margin: 6px;
	padding: 6px;
	>image.left {
        color: #999999;
        margin: 0 6px;
    }
	>image.right {
        color: #999999;
		margin: 0 6px;
	}
}

#entry {
	color: #999999;
	background: #FFFFFF;
    border: none;
	border-radius: 24px;
	margin: 3px 24px;
	padding: 6px 12px;
    transition: all 0.5s cubic-bezier(.17, .67, .83, .67);
    &:selected {
        background: mix(#999999, #FFFFFF, 50%)
    }
}
