.home {
  padding: 6px;
  border-radius: 24px;
  background: #000;
}

.homeIcon {
  color: #000;
  font-family: $iconFont;
  font-size: 1.5rem;
  padding: 6px;
  border-radius: 24px;
  background: #fff;
}

.dockIcons {
  margin-left: 6px;
  padding: 6px;
  border-radius: 24px;
  background: #000;
}
