.brightnessPopup {
  color: $fg;
  margin: 0 6px 0 0;
  padding: 3px;
  border-radius: 24px;
  background: $c0;
}

.brtPopupIcon {
  font-family: $iconFont;
  margin: 3px 0 3px 0;
}

.brtPopupBar {
  margin: 3px 0;
  min-height: 120px;
  & trough {
    min-width: 0.5rem;
    border-radius: 24px;
    background: transparentize($c3, 0.5);
  }
  & highlight {
    min-height: 0.5rem;
    border-radius: 24px;
    background: $c3;
  }
}
