.launcher {
    color: $onSurface;
    background: transparentize($surface, 0.9);
    font-family: $font;
    border: solid $outline;
    border-width: 1px 0;
    border-radius: 24px;
    padding: 12px;
}

.launcherApp {
    border-radius: 24px;
    margin: 6px;
    padding: 6px 12px;
    &:focus {
        color: $onSurfaceVariant;
        background: transparentize($surfaceVariant, 0.45);
    }
}

.launcherEntry {
    color: $onSurfaceVariant;
    caret-color: $onSurfaceVariant;
    background: transparentize($surfaceVariant, 0.45);
    border-radius: 24px;
    margin: 6px;
    padding: 6px 12px;
}

.launcherItem {}

.launcherItemIcon {
    margin: 0 6px 0 0;
}

.launcherItemTitle {
    font-size: 16px;
    font-weight: bold;
}

.launcherItemDescription {
    font-size: 12px;
}


