.launcher {
    color: $onSurface;
    background: $surface;
    font-family: $font;
    border-radius: 24px;
    padding: 6px;
}

.launcherApp {
    border-radius: 24px;
    margin: 6px;
    padding: 6px 12px;
    &:focus {
        color: $onSurfaceVariant;
        background: $surfaceVariant;
    }
}

.launcherEntry {
    color: $onSurfaceVariant;
    caret-color: $onSurfaceVariant;
    background: $surfaceVariant;
    border-radius: 24px;
    margin: 6px;
    padding: 6px 12px;
}

.launcherItem {}

.launcherItemIcon {
    margin: 0 6px 0 0;
}

.launcherItemTitle {
    font-size: 1rem;
    font-weight: 500;
}

.launcherItemDescription {
    font-size: 1rem;
}


